/*- Spacing system
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* GLOBAL STYLES
-------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #000;
  --shade: #37363d;
  --accent: #e3874f;
  --accent-variant: #886a4a;
  --tint: #707070;
  --white: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1;
  background-color: var(--main);
  color: var(--white);
}

.container-md {
  margin-bottom: 2.4rem;
}

.jumbotron {
  text-align: left;
  background: linear-gradient(to right, var(--main), var(--shade));
  color: white;
  padding: 0 4.8rem;
}

.h1 {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1.2rem;
}

/* FOOTER ************************ */
.footer {
  border-top: 1px solid var(--tint);
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
}
